.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

## ignore docs except rendered reports and literature
/docs/admin/*
/docs/literature/*
/docs/manuscript/*
/docs/material/*
/docs/presentations/*

## ignore copy of old project files
/_archive/*
